<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
</head>
<body>
    <div class="container" th:fragment="content">
        <article>
            <header>
                Tracker Information
            </header>
            <!--
            //id
            //door number
            //click to expand info
            //edit info
            //fetch json
            //login page
            -->
            <footer>

            </footer>
        </article>
    </div>
</body>
</html>